fastapi
sqlalchemy
uvicorn
pydantic
dotenv
bcrypt
asyncpg
pydantic[email]
passlib
python-jose
python-multipart
aiosmtplib
langchain
langchain-community
langchain-experimental
sentence-transformers
pypdf
faiss-cpu
cryptography
google-generativeai
langgraph
elevenlabs
qdrant-client
more_itertools
langchain-qdrant
langchain-huggingface
gradio
groq