.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #e4f6f8, #d1eef1);
  font-family: 'Segoe UI', sans-serif;
}

.auth-form {
  background-color: #ffffff;
  padding: 2.5rem 2rem;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.auth-form h2 {
  margin-bottom: 1.5rem;
  color: #0a4f52;
  font-weight: 700;
}

.auth-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
}

.auth-form input::placeholder {
  color: #888;
}

.auth-form button {
  width: 100%;
  padding: 12px;
  background-color: #0096a0;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.auth-form button:hover {
  background-color: #007b8a;
}

.auth-form p {
  font-size: 14px;
  margin-top: 1rem;
}

.auth-form a {
  color: #0096a0;
  text-decoration: none;
  font-weight: 500;
}

.auth-form a:hover {
  text-decoration: underline;
}


.error-msg {
  color: rgb(153, 53, 53);
  margin-top: 5px;
  font-size: 0.9rem;
}